<div class="row">
    <div class="col-xs-12">
        <h1 data-ng-bind="'EXPERIENCE' | translate"></h1>
    </div>
</div>

<div class="row">
    <div
        class="col-xs-12 text-block"
        data-ng-bind-html="'EXPERIENCE_INTRO' | translate"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 data-ng-bind-html="'PROJECTS' | translate"></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul id="projects-list">
            <data-experience-item
                data-ng-repeat="projectItem in projectItems"
                data-project-item="projectItem">
            </data-experience-item>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 data-ng-bind-html="'OTHER_ACTIVITIES' | translate"></h2>
    </div>
</div>
