<div class="row">
    <div class="col-xs-12">
        <h1 data-ng-bind="'EXPERIENCE' | translate"></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 data-ng-bind-html="'PROJECTS' | translate"></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul id="projects-list">
            <li
                data-ng-repeat="projectItem in projectItems"
                id="p-{{projectItem.id}}">
                <h3 class="project-titleblock">
                    <span
                        class="project-name"
                        data-ng-bind-html="projectItem.name">
                    </span>
                    <span
                        class="project-timespan-begin"
                        data-ng-bind-html="projectItem.timespan.begin | translate"></span>
                    <span class="project-timespan-dash">-</span>
                    <span
                        class="project-timespan-end"
                        data-ng-bind-html="projectItem.timespan.end | translate"></span>
                    <span
                        class="project-link"
                        data-ng-if="projectItem.link !== undefined">
                        &nbsp;&mdash;&nbsp;
                        <img
                            class="project-link-image"
                            src="{{projectItem.link.image}}"
                            alt="{{projectItem.link.image}}" />
                        <a
                            href="{{projectItem.url}}"
                            data-ng-bind="projectItem.link.url"></a>
                    </span>
                </h3>
                <div data-ng-if="projectItem.image" class="project-imageblock">
                    <img src="{{projectItem.image}}" alt="projectItem.customer" />
                </div>
                <div class="project-textblock">
                    <div
                        class="project-description"
                        data-ng-bind-html="projectItem.description | translate"></div>
                </div>
                <div class="project-technologiesblock">
                    <span
                        class="project-used-technologies"
                        data-ng-bind-html="'USED_TECHNOLOGIES' | translate"></span>
                    <span
                        class="project-technology"
                        data-ng-repeat-start="technology in projectItem.technologies"
                        data-ng-bind-html="technology"></span> <span data-ng-repeat-end></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 data-ng-bind-html="'OTHER_ACTIVITIES' | translate"></h2>
    </div>
</div>
